ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
  top: 0;
  position: sticky;
}

li {
  float: left;
  margin: 5px;
  /* border-right: 1px solid #bbb; */
}

li:last-child {
  border-right: none;
}

li .Link {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li .Link:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  background-color: #04aa6d;
}

.about {
  float: right;
}
